flask
werkzeug
click
blinker
autopep8
pre-commit
supabase
pydantic
pydantic[email]
gunicorn
python-dotenv
openai
langchain
langchain-openai
black
black[jupyter]
pyautogen
autogen-agentchat[teachable]
autogen-agentchat[long-context]
markdown2
nanoid
pylint